// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li ,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

@bg-color:#1F1F1F;
@accent-color:#FF0400;
@shadows:#000000;
@container-color:#3A3A3C;
@font-color:#EDEDED;

html, body {
    height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
	background-color:@bg-color;
	color:@font-color;
}

a, h1, h2, h3, h4, h5, h6 {
	font-family: 'Bowlby One SC', sans-serif;
	letter-spacing: 3px;
}

h1{
	font-size:4rem;
	margin-bottom:15px;
	color:@bg-color;
}

h2{
	font-size: 3rem;
}

h4{
	font-size: 2.5rem;
}

h6{
	font-size:1.8rem;
}

p{
	font-size:1.8rem;
}

header{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:10px 150px;
	background-color: @shadows;
	border-bottom: 3px solid @accent-color;
	box-shadow: 0px 10px 8px @shadows;

	nav{
		a{
			font-size: 2rem;
			color:@font-color;
			margin-left: 30px;
			text-decoration: none;
		}

		a:hover{
			color:@accent-color;
		}
	}
} //header section end

.hero{
	margin-bottom: 60px;
	div{
		display: flex;
		flex-direction: column;
		background-color: rgba(255, 255, 255, .6);
		position: absolute;
		bottom: 100px;
		width:100%;
		height:170px;
		padding:10px 150px;

		p{
			font-size:2.5rem;
			font-weight: bold;
			margin-bottom:20px;
			color:@bg-color;
		}

		.cta{
			padding:10px 20px;
			width:250px;
			background-color: @accent-color;
			border: none;
			border-radius: 25px;
		}
	}
} // hero section end

.sitecontainer{
	width:84%;
	margin: 0 auto;

		.about{
			display:flex;
			justify-content: space-between;

			.cardContainer{
				display: flex;
				flex-direction: column;
				align-items: center;
				width:30%;
				background-color: @container-color;
				padding:30px;
				border-radius: 20px;
				box-shadow: 0px 3px 10px @shadows;
				margin-bottom:60px;

				h2{
					margin:30px 0px;
				}
			}
		}
}

.peopleTestimonials{
	background-color: @font-color;
	color: @bg-color;
	margin-bottom: 60px;
	padding:30px;
	border-radius: 20px;
	box-shadow: 0px 3px 10px @shadows;

	h1{
		text-align: center;
		margin-bottom: 30px;
	}

	.testContainer{
		display: flex;
		flex-direction: row;
		margin-bottom: 30px;
		border-bottom: 2px solid @accent-color;
		padding:30px 0px;
		
	}
}

footer{
	padding:20px 150px;
	background-color: @shadows;
	border-top: 3px solid @accent-color;
	box-shadow: 0px -10px 10px @shadows;
}