.tp_sitecontainer {
  padding: 0px 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media @mobile {
    padding: 0px 20px;
  }

  .tp_intro {
    color: @font-color;
    text-align: center;
    margin: 60px auto 40px auto;
    width: 80%;
  }

  .team {
    display: flex;
    justify-content: space-between;

    @media @tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .cardContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      background-color: @container-color;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 5px 10px @shadows;
      margin-bottom: 60px;
      border-top: 2px solid @accent-color;
      border-bottom: 4px solid @bg-color;

      @media @tablet {
        width: 70%;
      }

      @media @mobile {
        width: 100%;
      }

      h2 {
        margin: 25px 0px;
      }
    }
  }

  .teamPL {
    display: flex;
    justify-content: center;
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: @container-color;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px @shadows;
    margin-bottom: 60px;
    border-top: 2px solid @accent-color;
    border-bottom: 4px solid @bg-color;

    @media @tablet {
      width: 70%;
    }

    @media @mobile {
      width: 100%;
    }

    h2 {
      margin: 25px 0px;
    }
  }
}
