.tp_sitecontainer{
	width:70%;
	margin: 0 auto;

		.tp_intro{
			color:@font-color;
			text-align: center;
            margin: 60px 0px 40px 0px;
		}

		.team{
			display:flex;
			justify-content: space-between;

			.cardContainer{
				display: flex;
				flex-direction: column;
				align-items: center;
				width:30%;
				background-color: @container-color;
				padding:30px;
				border-radius: 10px;
				box-shadow: 0px 5px 10px @shadows;
				margin-bottom:60px;
				border-top: 2px solid @accent-color;
				border-bottom: 4px solid @bg-color;

				h2{
					margin:25px 0px;
				}
			}
        }

        .teamPL{
            display:flex;
			justify-content: center;
        }

        .cardContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            width:30%;
            background-color: @container-color;
            padding:30px;
            border-radius: 10px;
            box-shadow: 0px 5px 10px @shadows;
            margin-bottom:60px;
            border-top: 2px solid @accent-color;
            border-bottom: 4px solid @bg-color;

            h2{
                margin:25px 0px;
            }
        }
    }