//color uses

@bg-color: @mid-black;
@accent-color: @red;
@shadows: @rich-black;
@container-color: @light-black;
@font-color: @off-white;

//colors
@mid-black: #1f1f1f;
@red: #ff0400;
@rich-black: #000000;
@light-black: #3a3a3c;
@off-white: #ededed;

@mobile: ~"(max-width:500px)";
@tablet: ~"(max-width:800px)";
@desktop: ~"(max-width:1440px)";
